*.pyc
*.pyo
*.log
*.out
*.bak
*.tmp
*.gz
*.tar
*.zip
*~
*.swp
.DS_Store
__MACOSX
core.*
output/
build/
log/
node_modules/
log
test
tmp
__pycache__
.*
.vscode
.idea/
*Cache
*cache
Temp
Logs
safety/ssl/ca/*.old
ue/template/babel/
ue/template/canvas-admin/
ue/template/syrena-admin/
be/php/auth/baidu/demos
be/php/auth/baidu/sdk/
be/php/extension/php-7.0.33
Library
library
Temp
temp
Obj
obj
Build
build
Builds
builds
UserSettings
usersettings
MemoryCaptures
memorycaptures
logs
ignore.conf
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
**/Assets/AssetStoreTools
**/assets/assetstoretools
Assets/Plugins/PlasticSCM*
assets/plugins/PlasticSCM*
.vs
.gradle
ExportedObj
.consulo
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
.collabignore
crashlytics-build.properties
**/Assets/AddressableAssetsData/*/*.bin*
**/assets/addressableassetsdata/*/*.bin*
**/Assets/StreamingAssets/aa.meta
**/assets/streamingassets/*/aa/*
.DS_Store*
Thumbs.db
Desktop.ini
Il2cppBuildCache
